body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.hero{
    background-color: #1F2937;
    padding: 24px 250px;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.head-logo{
    font-weight: bolder;
}

.header ul{
    font-size: 18px;
    font-weight: lighter;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.hero-content{
    padding-bottom: 72px;
    display: flex;
    gap: 48px;
}

.hero-content-text{
    width: 460px;
}
.hero-content-text button{
    background-color: #3882F6;
    color: white;
    padding: 10px 38px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 8px;

}

.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 16px;
}


/* CAROUSEL STYLING */
.carousel-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
}
.information{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 48px;
}

.carousel{
    display: flex;
    justify-content: center;
    gap: 72px;
}

.card{
    width: 150px;
    text-align: center;
    color: #1F2937;
}
.card-box{
    border: solid #3882F6 4px;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

/* QUOTE SECTION */

.quote-section{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 88px 350px;

}

.quote{

}

.citation{
    text-align: right;
    font-style: normal;
    font-weight: 400;
}

/* CTA SECTION */

.cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 0px;

}
.cta-card{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    gap: 250px;
    border-radius: 6px;
    padding: 48px 100px;
}

.cta-main-text{
    color: #F9FAF8;
    font-weight: 500;
    font-size: 18px;
}

.cta-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}

.cta-card button{
    background-color: #3882F6;
    color: white;
    padding: 0px 48px;
    font-size: 16px;
    border: solid 2px #E5E7EB;
    border-radius: 6px;
    font-weight: bold;
}
